
html{
  height: 100%;
   
}

body {
  margin: 0px auto ;
  max-width: 1024px;
  min-width: 350px;
  }

ul, li, p{
   margin: 0px;
   padding: 0px;
   font-size: 1rem;
   font-family: Arial, Helvetica, sans-serif;
   
}

.textoLimite {
  word-wrap: break-word ;
    max-width: 100ch;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.sizeForm {
  width: 250px;
}

.header a{
  text-decoration: none;
}

.header{
 padding: 10px;
 
}

.menu{
  display: flex;
}

.menu li{
  font-size: 10px;
  list-style: none;
  margin-left: 20px;
  
}

header a img {
  max-width: 80%;
  display: block;
  
}

.nopadding {
  padding: 3px;
}

.sizeSpecialText {
  font-size: 14px;
}

#barrabusca {
  width: 80%;

}

.virarBlock {
  display: flex;
  width: 100%;
  
}

.imgTest {
  width: 100%;
}

.carousel {
  overflow: hidden ;
  /* max-width: 700px; */
  
}

.mosaic {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}

.amosaic {
  width: 50%;
}

.mosaicDetalhes {
  width: 50%;
}

.mosaic img {
  height: 150px;
  object-fit: contain;
  
}
.orgMeioSite{
  display: grid;
  grid-template-columns: 3fr;
  grid-gap: 25px;
  margin-top: 20px;
}
.aorgMeioSite {
  display: flex;
  align-items: center;
  justify-content: center;
  
}


.mosaicLateral img {
  height: 150px;
  object-fit: contain;
}

.mosaic p {
  margin-top: 10px;
  
}

.bordaNewsletter {
  border: 1px solid silver;
  padding: 10px;
  border-radius: 5px;
  
}
 
.rounded p {
  
  color: silver;
}

.rodape {
  border: 1px solid silver;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 20px;
  display: flex;
  justify-content: space-evenly;
  
  }

  #roda {
    min-width: 500px;
  }

@media(max-width: 768px) {
  
  body {
    padding: 0 10%;
    min-width: 350px;
  }

  .sizeForm {
    width: 100%;
    min-width: 350px;
  }
  body {
    margin: 5px ;
    }

  .sizeBar {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

  }
  header, .sizeTitle {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

  }

  .imgTest {
    margin-top: 20px;
  }

  .mosaic {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
  }

  .orgMeioSite{
    
    grid-template-columns: 1fr;
    
  }

  .mosaicLateral {
      display: none;
    
  }

  .rodape {
    margin: 20px auto;
      width: 100%;
     display: inline-block;
     text-align: center;
     min-width: 350px;   
    }

    #roda {
      min-width: 350px;
    }
}

@media(max-width: 490px) {

  body {
    padding: 0 10%;
    min-width: 350px;
  }
  .mosaic {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
  }

  body {
    padding: 0 10%;
    }

    .rodape {
      margin: 20px auto;
      width: 100%;
     display: inline-block;
     text-align: center;
     min-width: 350px;
      
      }
      #roda {
        min-width: 350px;
      }
}